<div class=>
  <div class="row collapse bigger">
    <div class="small-9 large-centered columns">
      <div class="home-panel">
        <p class="welcome"> What would you like to do?</p>
        <div class="row collapse text-center bigger">
        <%= link_to "Look", sales_path, class: 'button' %>
        <%= link_to "Sell", new_sale_path, class: 'button' %>
        </div>
      <div>
    </div>
  </div>
</div>
