<h1 class="white-title">What would you like to do?</h1>
<div class="row">
  <div class="small-6 large-centered columns text-center">
<%= link_to " Buy ", new_user_session_path, class: 'button' %>
<%= link_to "Sell", new_sale_path, class: 'button' %>
  </div>
</div>
