<div>
  <div class="row">
    <div class="small-8 large-centered columns">
      <div class="home-panel">
        <p class="welcome"> Welcome to the GearXchanger</p>
        <div class="row collapse text-center">
          <%= link_to " Sign in ", new_user_session_path, class: 'button' %>
          <%= link_to "Register", new_user_registration_path, class: 'button' %>
        </div>
      <div>
    </div>
  </div>
</div>
