.signup-panel {
  border-radius: 5px;
  border: 2px solid #ccc;
  padding: 15px;
  margin-top: 30px;
  background:rgba(255,255,255,0.9);
}
.signup-panel i {
  font-size: 30px;
  line-height: 50px;
  color: #999;
}
.signup-panel form input, .signup-panel form span {
  height: 50px;
}
.signup-panel .welcome {
  font-size: 26px;
  text-align: center;
  margin-left: 0;
}
.signup-panel p {
  font-size: 13px;
  font-weight: 200;
  margin-left: 25%;
}
.signup-panel .button {
  margin-left: 35%;
}

.home-panel {
  padding-top: 15px;
  border-radius: 5px;
  border: 2px solid #ccc;
  margin-top: 30px;
  background:rgba(255,255,255,0.9);
}

.home-panel form input, .home-panel form span {
  height: 50px;
}

.home-panel .welcome {
  font-size: 26px;
  text-align: center;
  font-weight: 200;
  margin-left: 0;
}

.no-pad {
  padding: 0px
  margin-left: 0px;
}





