.pages-home {
  background-image:url(plexi-background.jpg);
  background-repeat:no-repeat;
  background-position: center center;
}

.pages-buy_or_sell {
  background-image:url(plexi-background.jpg);
  background-repeat:no-repeat;
  background-position: center center;
}

.white-title{
  color: white;
  text-align: center;
  padding-top: 5%;
  padding-bottom: 5%;
}


.sales-index {
  background-image:url(plexi-background.jpg);
  background-repeat:no-repeat;
  background-position: center center;
  background-attachment: fixed;
  color: white;
}

.sales-new {
  background-image:url(cans-background.jpg);
  background-repeat:no-repeat;
  background-position: center center;
}

.sales-show {
  background-image:url(cans-background.jpg);
  background-repeat:no-repeat;
  background-position: center center;
}

.registrations-new {
  background-image:url(cans-background.jpg);
  background-repeat:no-repeat;
  background-position: center center;
}

.sessions-new {
  background-image:url(cans-background.jpg);
  background-repeat:no-repeat;
  background-position: center center;
}

.index {
  color: white;
}

.contain-sales {
  background-color: gray;
}

.search-form {
  color: white;
}

.hidden {
  display: none;
}

.white {
  color: white;
}

.fade {
  background:rgba(255,255,255,0.5);
  border-radius: 5px;
}
