.pages-home {
  background-image:image-url("cans-background.jpg");
  background-repeat:no-repeat;
  background-position: center center;
  filter: blur(5px);
}

.pages-buy_or_sell {
  background-image:image-url("plexi-background.jpg");
  background-repeat:no-repeat;
  background-position: center center;
}

.white-title{
  color: white;
  text-align: center;
  padding-top: 5%;
  padding-bottom: 5%;
}


.sales-index {
  background-image:image-url("cans-background.jpg");
  background-repeat:no-repeat;
  background-position: center center;
  background-attachment: fixed;
  color: white;
}

.sales-new {
  background-image:image-url("cans-background.jpg");
  background-repeat:no-repeat;
  background-position: center center;
}

.sales-show {
  background-image:image-url("cans-background.jpg");
  background-repeat:no-repeat;
  background-position: center center;
}

.registrations-new {
  background-image:image-url("cans-background.jpg");
  background-repeat:no-repeat;
  background-position: center center;
}

.sessions-new {
  background-image:image-url("cans-background.jpg");
  background-repeat:no-repeat;
  background-position: center center;
}

.index {
  color: white;
}

.contain-sales {
  background-color: gray;
}

.search-form {
  color: white;
}

.hidden {
  display: none;
}

.white {
  color: white;
}

.fade {
  background:rgba(255,255,255,0.9);
  border-radius: 5px;
}

.shadow {
   -moz-box-shadow:    inset 0 0 10px #000000;
   -webkit-box-shadow: inset 0 0 10px #000000;
   box-shadow:         inset 0 0 10px #000000;
}

.shadow-out {
  -moz-box-shadow:    3px 3px 5px 6px #ccc;
  -webkit-box-shadow: 3px 3px 5px 6px #ccc;
  box-shadow:         3px 3px 5px 6px #ccc;
}


